@import url(./normalize.css);

body {
    font-family: Roboto;
}

.container {
    width: 93.3%;
    max-width: 1280px;
    margin: 0 auto;
  }

.logo {
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
}

.black-text {
    color: #000000;
}

.section-logo {
    margin-bottom: 38px;
}

.header-img {
    width: 26%;
    height: 6.2%;
    margin: 4.9% 0 3% .5%;
  }

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35444F;
  }
  
.header-nav-menu {
    display: flex;
    }

.header-nav-menu:last-child {
    border-right: 1px solid #FFFFFF;
    }

.header-menu-li {
    border-left: 1px solid #FFFFFF;
}

.header-menu-li:hover {
    background-color: #222F3A;
}

.header-menu-link {
    display: block;
    padding: 26px 40px 19px 40px;
    font-style: Regular;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.nav-left {
    width: 26.75%;
    float: left;
    margin-top: 3.7%;
}

.nav-left-menu {
    border: 1px solid #000000;
}

.nav-left-link {
    display: block;
    padding: 7.29% 0 7.29% 12.83%;
    font-style: Regular;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.nav-left-link:hover {
    padding-left: 22.74%;
    color: #000000;
    font-weight: 400;
    background-color: #DBDBDB;
}

.main {
    margin-top: 3.7%;
    width: 69.1%;
    float: right;
}

.img-section {
    border: 1px solid #000000;
    width: 100%;
    margin-bottom: 4.18%;
}

.img {
    margin: 8.47% 30.28% 8.47% 33.55%;
    width: 36.16%;
    height: 47.79%;
    transition: transform 0.45s;
}

.img:hover {
    transform: scale(1.1);
}

.text {
    margin: 34px 0 34px 0;
    font-style: Regular;
    font-size: 18px;
    line-height: 24px;
}

.footer {
    padding: 20px 40px 20px 20px;
    background-color: #63696E7A;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.footer-nav-menu {
    display: flex;
}

.footer-menu-link {
    padding: 15px;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-menu-link:hover {
    color: #3181A6;
    text-decoration: underline 1px;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}


